* {
    
    box-sizing: border-box;
    font-family: 'Roboto';
    
}


.display-flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.ponteiro {

    cursor: pointer;

}


.menu-topo {

    width: 100%;
    height: 69px;

    background-color: #EC362D;

    font-size: 37px;
    color: #ffffff;

    font-family: 'Roboto';

}


.lista-quizz {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    padding-bottom: 30px;

    background-color: #FAFAFA;

}


.criar-quizz {

    width: 1051px;
    height: 181px;

    margin-top: 77px;
    margin-bottom: 77px;

    border: 1px dashed #D4D4D4;

    flex-direction: column;
    justify-content: center;

}


.criar-quizz button {

    width: 151px;
    height: 40px;

    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

    border-radius: 300px;
    border: 1px dashed #EC362D;

    color: #EC362D;
    background-color: #FAFAFA;

}


.criar-quizz p {

    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    margin-bottom: 20px;

    color: #B9B9B9;

}


.letreiro-quizz {

    width: 1051px;

}


h2 {
    
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
}


.lista-quizz-recebido {

    width: 1051px;
    height: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.quizz {

    position: relative;
    margin-top: 12px;
    
}


.quizz img {

    width: 340px;
    height: 181px;
    
    border-radius: 5px;
    
}


.degrade {

    width: 100%;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 12px;

    border-radius: 5px;

    position: absolute;    
    top: 0;
    left: 0;

    display: flex;
    align-items: end;
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) , #000000);
    
    overflow-wrap: anywhere;

}


.degrade p {

    width: 100%;
    height: 69px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    
}



.pagina-quizz {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
    padding-top: 227px;
    

    background-color: #FAFAFA;
    position: relative;
    
}


.imagem-quizz {

    width: 100%;
    height: 227px;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

} 


.opacidade div {

    position: absolute;
    top: 0;
    left: 0;

    font-size: 39px;
    font-weight: 400;
    color: #ffffff;

    width: 100%;
    height: 227px;

    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );

}


.perguntas {
    
    width: 759px;
    height: auto;
    margin-top: 42px;

    padding: 28px 36px 35px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;

    box-shadow: 0 0 8px #dedede;
    
}


.texto-pergunta {

    width: 689px;
    height: 138px;
    padding: 8px;
    font-size: 23px;
    font-weight: 700;

    color: #ffffff;

    border-radius: 1px;
    
    overflow-wrap: anywhere;

}


.perguntas ul {

    display: flex;
    justify-content: space-between;
    
    width: 689px;
    
    flex-wrap: wrap;

    overflow-wrap: anywhere;
}


.alternativa img {

    width: 330px;
    height: 175px;

    margin-top: 20px;

}


.alternativa p {

    width: 330px;

    font-size: 20px;
    font-weight: 700; 

    margin-top: 20px;
    margin-bottom: 20px;

}

li img {
    border-radius: 1px;
}


.esbranquicado {
    opacity: 0.4;
    transition: 300ms;
}


.errada {
    color: #FF4B4B;
}


.certa {

    color: #009C22;
}

.resultado {

    width: 759px;
    height: 430px;

    margin-top: 42px;
    margin-bottom: 50px;
    padding: 18px;
    
    box-shadow: 0 0 8px #dedede;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


.acertoFinal {

    width: 727px;
    height: 99px;

    background-color: #EC362D;

    overflow-wrap: anywhere;

}

.acertoFinal p {
    
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

    color: #ffffff;

}


.descricao {
    
    margin-top: 18px;
    width: 727px;
    height: auto;

    display: flex;

    overflow-wrap: anywhere;

}


.descricao img {

    width: 364px;
    height: auto;

    box-shadow: 0 0 4px #dedede;

}

.descricao p {

    width: 353px;
    margin-left: 18px;

    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

button#reinicio {
    
    width: 260px;
    height: 52px;

    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;

    border: none;
    border-radius: 15px;

}

button#home {

    width: 219px;
    height: 44px;
    margin-top: 16px;
    margin-bottom: 85px;

    background: none;
    color: #818181;

    font-size: 21px;
    font-weight: 400;
    text-align: center;

    border: none;

}

.escondido {
    display: none;
}

.transicao {
    transition: 500ms;
}



@media (max-width: 1100px) {
    
    .lista-quizz {

        width: 100%;
        height: auto;
    
    }

    .criar-quizz, .lista-quizz-recebido, .letreiro-quizz {

        width: 340px;

    }

    .lista-quizz-recebido {

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-wrap: break-word;
        
    }
    

    .pagina-quizz {

        padding-top: 130px;
        
    }

    .perguntas, .resultado {

        width: 375px;
        padding: 18px 17px 40px 17px;

        height: auto;

    }

    .perguntas div, .acertoFinal {

        width: 100%;
        height: 89px;
        font-size: 19px;
        
    }

    .perguntas ul {

        width: 100%;
        
    }

    .texto-pergunta {
        width: 360px;
    }

    .lista {
        display: flex;
        flex-wrap: wrap;
        
    }

    .lista li {
        width: 164px;
    }
    
    .lista p {
        width: 100%;
        font-size: 13px;
    }

    .alternativa img {
        width: 164px;
        height: 113px;

        display: flex;
        justify-content: center;
    }

    .imagem-quizz, .opacidade .display-flex {
        width: 100%;
        height: 142px;

        transition: 500ms;
    }

    .opacidade div {
        font-size: 19px;
    }

    .acertoFinal p {
        width: 100%;
        font-size: 19px;

    }

    .descricao {

        margin-top: 9px;
        width: 100%;
        flex-direction: column;

    }

    .descricao img {
        width: 100%;
        margin-bottom: 10px;
    }

    .descricao p {

        margin: 0;
        width: 100%;
        font-size: 17px;
    }

    button#reinicio, button#home {
        width: 220px;
        height: 44px;

        font-size: 18px;
    }

}