* {
    
    box-sizing: border-box;
    font-family: 'Roboto';
    
}




.display-flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ponteiro {

    cursor: pointer;

}

.menu-topo {

    width: 100%;
    height: 69px;

    background-color: #EC362D;

    font-size: 37px;
    color: #ffffff;

    font-family: 'Roboto';

}



.lista-quizz {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    padding-bottom: 30px;

    background-color: #FAFAFA;

    overflow-wrap: break-word;

}

.criar-quizz {

    width: 1051px;
    height: 181px;

    margin-top: 77px;
    margin-bottom: 77px;

    border: 1px dashed #D4D4D4;

    flex-direction: column;
    justify-content: center;

}

.criar-quizz button {

    width: 151px;
    height: 40px;

    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;


    border-radius: 300px;
    border: 1px dashed #EC362D;

    color: #EC362D;
    background-color: #FAFAFA;

}

.criar-quizz p {

    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    margin-bottom: 20px;

    color: #B9B9B9;

}


.letreiro-quizz {

    width: 1051px;

}

h2 {
    
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
}

.lista-quizz-recebido {

    width: 1051px;
    height: auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.quizz {

    position: relative;
    margin-top: 12px;
    
}


.quizz img {

    width: 340px;
    height: 181px;
    
    border-radius: 5px;
    
}


.degrade {

    width: 100%;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 12px;

    border-radius: 5px;

    position: absolute;    
    top: 0;
    left: 0;

    display: flex;
    align-items: end;
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) , black);

}

.degrade div {

    width: 100%;
    height: 65px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;

}

.pagina-quizz {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
    padding-top: 227px;
    

    background-color: #FAFAFA;
    position: relative;
    
    overflow-wrap: break-word;
    overflow-y: hidden;

}

.imagem-quizz {

    width: 100%;
    height: 227px;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;

} 

.opacidade div {

    position: absolute;
    top: 0;
    left: 0;


    font-size: 39px;
    font-weight: 400;
    color: #ffffff;

    width: 100%;
    height: 227px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black);

}

.perguntas {
    
    width: 759px;
    height: 676px;
    margin-top: 42px;

    padding: 28px 36px 35px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;

    box-shadow: 0 0 8px #dedede;
    
}

.texto-pergunta {

    width: 689px;
    height: 138px;

    font-size: 23px;
    font-weight: 700;

}


.perguntas ul {

    display: flex;
    justify-content: space-between;
    
    width: 689px;
    
    flex-wrap: wrap;

}



.alternativa img {

    width: 330px;
    height: 175px;

    margin-top: 20px;
    
}

.alternativa p {

    width: 330px;

    font-size: 20px;
    font-weight: 700; 

    margin-top: 20px;
    margin-bottom: 20px;

}

.esbranquicado {
    
    opacity: 0.4;

}

.errada {
    color: #FF4B4B;
}

.certa {
    color: #009C22;
}




.escondido {
    
    display: none;
    
}



@media (max-width: 1100px) {
    
    .lista-quizz {

        width: 100%;
        height: auto;
    
    }

    .criar-quizz, .lista-quizz-recebido, .letreiro-quizz {

        width: 340px;

    }

    .lista-quizz-recebido {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

}